* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR';
}

h1 {
  margin: 10px;
  padding-left: 160px;
}

main {
  display: flex;
  justify-content: ;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 500px;
  margin: 15px;
  border-radius: 25px;
  background-color: rgba(163, 209, 255, 0.3);
}

.question-box {
  width: 100%;
  height: 300px;
}

p {
  margin: 10px;
  padding-top: 25px;
  font-size: 18px;
}

.all-choices {
  margin: 10px;
}

.answer {
  padding-bottom: 5px;
}

.buttons {
  align-self: flex-end;
  margin-top: 50px;
  margin-right: 20px;
}

button {
  height: 35px;
  width: 80px;
  background-color: rgb(97, 125, 240);
  cursor: pointer;
  border: none;
  color: white;
  font-size: 18px;
}

.prevBtn {
  display: none;
}

.subBtn {
  display: none;
}

.playAgain {
  height: 50px;
  width: 100px;
}

.result-box {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  height: 420px;
  width: 500px;
  margin: 15px;
  border-radius: 25px;
  background-color: rgba(255, 101, 92, 0.3);
}

.result-box p {
  display: flex;
  justify-content: center;
  font-size: 25px;
}


